html {
    outline: none;
    box-sizing: border-box;
    height: 100vh;
}

body {
    height: 100vh;
}

header {
    text-align: center;
    height: 15vh;
    
}

.game-panel {
    height: 45vh;
}

section.controls {
    height: 30vh;
}

footer {
    height: 10vh;
}
