* {
    box-sizing: border-box;
}

html {
    outline: none;
    height: 100vh;
}

body {
    height: 100vh;
}

header {
    text-align: center;
    height: 15vh;
    overflow: hidden;
    border-block: .5px solid black;
    
}

header h1 {
    font-size: 2.5rem;
}

section.game-panel {
    height: 40vh;
    border-bottom: .5px solid black;
}

.score-table {
    height: 1.3rem;
    text-align: center;
    border-bottom: 0.5px solid black;
    padding-top: .2rem;
}

#scores {
    font-size: 1rem;
  
}

section.controls {
    height: 35vh;
    border-bottom: .5px solid black;
}

footer {
    height: 10vh;
}
