* {
    box-sizing: border-box;
}

html {
    outline: none;
    height: 100vh;
}

body {
    height: 100vh;
}

header {
    text-align: center;
    height: 15vh;
    overflow: hidden;
    border-block: .5px solid black;
    
}

header h1 {
    font-size: 2.5rem;
}

section.game-panel {
    position: relative;
    height: 40vh;
    border-bottom: .5px solid black;
}

.score-table {
    height: 1.3rem;
    text-align: center;
    border-bottom: 0.5px solid black;
    padding-top: .2rem;
}

#scores {
    font-size: 1rem;
  
}

#player-selection {
    position: relative;
    float: left;
    width: 10rem;
    height: 8rem;
    background-color: blue;
    top: 1rem;
    left: 15vw;
    
}

#computer-selection {
    position: relative;
    float: right;
    width: 10rem;
    height: 8rem;
    background-color: blue;
    top: 1rem;
    right: 15vw;
}

#round-result {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(40vh - 10.3rem);
    border-top: 0.5px solid black;
}

section.controls {
    height: 35vh;
    border-bottom: .5px solid black;
}

#user-controls {
    float: left;
    width: 50vw;
}

#user-controls span {
    text-align: center;
}

#computer-controls {
    float: right;
    width: 50vw;
}


footer {
    height: 10vh;
}
