* {
    box-sizing: border-box;
}

html {
    outline: none;
    height: 100vh;
}

body {
    height: inherit;
}

header {
    height: 15vh;
    text-align: center;
}

.game {
    height: 75vh;
}

.score-table {
    text-align: center;
}



footer {
    height: 10vh;
}